.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px white solid;

  nav {
    > ul {
      display: flex;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }

      .login {
        @include button_primary(null, $primary-color, $primary-color);
      }
      .register {
        @include button_primary($primary-color, white, $primary-color);
      }
    }
  }
}
