@mixin button_primary($backgroud, $color, $border-color) {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  color: $color;
  padding: 10px 30px;
  background-color: $backgroud;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px white solid;

  nav {
    > ul {
      display: flex;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }

      .login {
        @include button_primary(null, $primary-color, $primary-color);
      }
      .register {
        @include button_primary($primary-color, white, $primary-color);
      }
    }
  }
}
